.project-card {
  transition: background-color 0.3s ease-in-out;
  
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor:crosshair;
  }
}

.chart-card {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.chart-container {
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}
