.contador-categorias{
  display: flex;
  justify-content: center;

}


.chart-card {
  display: flex;
  justify-content: center;
  width: 60%;          
  max-width: none;     
  position: center;
}

.chart-container {
  width: 100%;
  max-width:100%;  
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}


.contador-proyectos{
  display: flex;
  justify-content: center;

}

.project-container {
  display: flex;
  justify-content: center;
  width: 150%;          
  max-width: none;     
  position: relative;
  left: 50%;
  transform: translateX(-50%); 
}

.project-card {
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor:crosshair;
  }
}