.boton-registro{
    background-color: rgb(70, 70, 138);
    color: white;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 20px; 
    &:hover {
        background-color: rgb(70, 70, 138);
        color: white;
        transform: scale(1.10);
        border: 1px solid black;
    }
}

.caja-boton{
    display: flex;
    justify-content: center;
    width: 100%;
}